<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="h-6 w-6">
            <path
                d="m8 3 4 8 5-5 5 15H2L8 3z">
            </path>
        </svg>
        <span class="text-xs font-semibold tracking-wide/[-0.025] text-gray-600 dark:text-gray-400">
            Acme Inc
        </span>
    </div>
    <div class="flex gap-4 sm:gap-6">
        <a class="text-xs hover:underline underline-offset-4" href="#" rel="ugc">Terms of Service</a>
        <a class="text-xs hover:underline underline-offset-4" href="#" rel="ugc">Privacy</a>
    </div>
</footer>